<div class="provider-information">

  <h4>Pricing information:</h4>


  <div class="container">
        <div class="row">
          <div class="col-md-4" >Timing:</div>
          <div class="col-md-8" >2h</div>
        </div>
        <div class="row">
          <div class="col-md-4" >Provider cost:</div>
          <div class="col-md-8" >100 CHF/Mo/H</div>
        </div>
        <div class="row">
      <div class="col-md-4" >Total:</div>
      <div class="col-md-8" >200 CHF</div>
    </div>
  </div>
</div>
